<div class="label-page">
  <div class="row">
    <div class="col-md-12">
      <h1>Labeling</h1>
    </div>
  </div>

  <div class="row" ng-if="currentUrlString.length == 0">
    <p ng-if="isLoadingLinks">Loading new links...</p>
    <p ng-if="!isLoadingLinks && noNewLinks">No new links in the database</p>
  </div>
  <div class="row" ng-if="currentUrlString.length">
    <div class="col-md-9">
      <div class="iframe-holder">
        <iframe ng-src="{{currentUrl}}"></iframe>
      </div>
    </div>
    <div class="col-md-3">
      <div class="select-container">
        <select ng-model="labels.yellowLabel">
          <option value="yellow">Yellow</option>
          <option value="nonyellow">Non-Yellow</option>
        </select>
      </div>

      <div class="select-container">
        <select ng-model="labels.politicalLabel">
          <option value="conservative">Conservative</option>
          <option value="liberal">Liberal</option>
          <option value="neutral">Neutral</option>
        </select>
      </div>

      <div class="select-container">
        <select ng-model="labels.positionLabel">
          <option value="critical">Critical</option>
          <option value="defensive">Defensive</option>
          <option value="factual">Strictly Factual</option>
        </select>
      </div>

      <button type="submit" class="btn btn-default" ng-click="addLabels()">Add Label</button>
  </div>
</div>